<!-- /16307266/hyperallergic/hyp-footer -->
	<div class="responsive-gpt-ad">
		<div id="div-gpt-ad-1757948558089-9">
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1757948558089-9'); });
			</script>
		</div>
	</div>
