<!-- /16307266/hyperallergic/hyp-content/hyp-content-1 -->
	<div class="responsive-gpt-ad">
		<div id="div-gpt-ad-1757948558089-1">
			<script>
				googletag.cmd.push(function() { googletag.display('div-gpt-ad-1757948558089-1'); });
			</script>
		</div>
	</div>
