<template data-dropdown-toggle-template>
    <button class="gh-dropdown-toggle" data-class="is-rotated" title="{{t "Toggle submenu"}}" aria-label="{{t "Toggle submenu"}}" aria-controls="" aria-expanded="false">
        {{> "icons/chevron-down"}}
    </button>
</template>
